<head>
    <link rel="stylesheet" type="text/css" href="css/article_carousel.css"> 
</head>

<div class="carousel_wrapper">
    <h1 class="carousel_title"> Popular Posts </h1>
    <img class="scroll_arrow prev" src="images/arrow.svg">
    <img class="scroll_arrow next" src="images/arrow.svg">
    <div class="card_wrapper">
        <div class="article_card">
            <h2>Article Title 1</h2>
            <img src="images\social-media-hero-cropped.jpg" class="article_card_img">
            <h3>Article Subtitle</h3>
            <p>Article Body</p>
        </div>
        <div class="article_card">
            <h2>Article Title 2 </h2>
            <img src="images\social-media-hero-cropped.jpg" class="article_card_img">
            <h3>Article Subtitle</h3>
            <p>Article Body</p>
        </div>
        <div class="article_card">
            <h2>Article Title 3</h2>
            <img src="images\social-media-hero-cropped.jpg" class="article_card_img">
            <h3>Article Subtitle</h3>
            <p>Article Body</p>
        </div>
        <div class="article_card">
            <h2>Article Title 4</h2>
            <img src="images\social-media-hero-cropped.jpg" class="article_card_img">
            <h3>Article Subtitle</h3>
            <p>Article Body</p>
        </div>
        <div class="article_card">
            <h2>Article Title 5</h2>
            <img src="images\social-media-hero-cropped.jpg" class="article_card_img">
            <h3>Article Subtitle</h3>
            <p>Article Body</p>
        </div>
        <div class="article_card">
            <h2>Article Title 6</h2>
            <img src="images\social-media-hero-cropped.jpg" class="article_card_img">
            <h3>Article Subtitle</h3>
            <p>Article Body</p>
        </div>
    </div>
</div>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Slick Carousel -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript" src="article_carousel.js"></script>