<head>
  <link rel="stylesheet" type="text/css" href="css/footer.css"> 
</head>

<div class="footer">
  <div class="footer_wrap">
    <div class="footer_about">
      <img class="footer_logo" src="images/ayv-logo-horizontal.svg">
      <p>We exist to empower and celebrate the multicultural diversity of small business communities in California! 
      </p>
    </div>    
    <div class="footer_socials">
      <h1> Connect with Us</h1>
      <div class="footer_links_list">
        <div class="footer_link_item">
          <img class="social_icon" src="images/instagram.svg">
          <a href="https://www.instagram.com/volumendigital/" target="_blank">Instagram</a>
        </div>
        <div class="footer_link_item">
          <img class="social_icon" src="images/instagram.svg">
          <a href="https://www.facebook.com/volumendigital/">Facebook</a>
        </div>
        <div class="footer_link_item">
          <img class="social_icon" src="images/instagram.svg">
          <a href="https://www.linkedin.com/company/volumentechnologies/">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</div>